*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

h2{
  font-family: "Big Shoulders", sans-serif;
}


.container{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

