* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

h2 {
  font-family: "Big Shoulders", sans-serif;
}

.container {
  background-color: hsl(0, 0%, 95%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 3.125rem 1.875rem;
}

.sub-container {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 750px;
  width: 100%;
  overflow: hidden;
}

.sub-container > div {
  display: flex;
  flex-direction: column;
  gap: 1.6667rem;
  padding: 2.6667rem;
  min-height: 400px;
}

.sub-container > div:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
}

.sub-container > div:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}

.sub-container > div:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
}


img {
  width: 50px;
}


.title {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-size: 2.2667rem;
  font-weight: 400;
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  line-height: 1.5;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  align-self: start;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  margin-top: auto;
  transition: all 0.3s ease;
}

.btn:hover{
  cursor: pointer;
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}




.attribution {
  font-size: 14px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
